  /* 
   Stylesheet for OU Lib Signage Request System //
  
   Table of Contents
   - - - - - - - - -
   General Styles
   Global Footer
   Social Media Icons
   Banner
   Block Styles
   Library Logo
   Navigation Bar
   Menus
   Library Footer
   Headings
   Region-Libfooter
   Region-Top
   Region-Discover
   Region-Banner
   Webforms
   Document Registry
   Signage System
   - - - - - - - - -
 */
 

 
 /**
 * General Styles
 */

html,body{
    height: 100%;
	background-color: #fff;
	font-family: 'Droid Sans'; 
}

#body{
    margin-bottom: 40px; /* height of footer */
}

h1.page-header {
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	background-color: #2c2c2c;
	border-radius: 5px 5px 5px;
	text-transform: uppercase;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
	margin-left: 0;
	margin-right: 0;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 1px dashed #cecece;
}

.whitebg {
	background-color: #fff;	
	margin-bottom: 25px;
}

a {
    color: #2378aa;
    text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
    color: #254467;
    text-decoration: underline;
}

.btn .glyphicon {
	color: #fff;
}

img{
	height: auto;
    max-width: 100%;
} 

 

 /**
 * Global Footer
 */	
 
.footer{
    background-color: #333;
    color: #999;
    font-size: 1em;
    line-height: 1.2em;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 7px solid #1f1f1f;
	min-height: 100%; 
    width: 100%;
	margin-top:0;
}


.footer a{
    color: #ececec !important;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer ul{ margin: 0; padding: 0;}

.footer li{
    list-style: none;
}

.footer img{
	float: left;
	padding-right: 1em;
}



 /**
 * Social Media Icons
 */	

.social ul{
    display: block;
}

.social ul li a.facebook,
.social ul li a.twitter,
.social ul li a.youtube,
.social ul li a.instagram{
    display: block; 
    height: 45px;
    width: 45px;
    float: left;
}

.social ul li a {
    background-image: url(../img/social-icons.png);
    background-repeat:no-repeat;
	line-height:0;
	margin-right:5px;
}

.social ul li a.facebook{ 
	background-position:0 0; 
}

.social ul li a.facebook:hover{ 
	background-position:-46px 0; 
}

.social ul li a.twitter{ 
	background-position:0 -46px; 
}

.social ul li a.twitter:hover{ 
	background-position:-46px -46px; 
}

.social ul li a.youtube{ 
	background-position: 0 -92px; 
}

.social ul li a.youtube:hover{ 
	background-position: -46px -92px; 
}

.social ul li a.instagram{ 
	background-position: 0 -276px; 
}

.social ul li a.instagram:hover{ 
	background-position: -46px -276px; 
}

.contact_icons{
	float: left;
}



 
/**
* Banner
*/

.header{
    background-color: #cecece;
    min-height: 140px;
    padding: 0 0 0 0;
}

.header img {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}



 /**
 * Block Styles
 */

.block-title{
	font-weight: bold;
	text-transform: uppercase;
	color: #3e3e3e;
	font-size: 1.75em;
}



 /**
 * Library Logo
 */
 
.logo img{
	height: auto;
    max-width: 100%;
	padding-top: 10px;
}



 /**
 * Navigation Bar
 */

.navbar {
	background-color:#3d3d3d;
	font-size: 1.1em;
	font-family: 'Droid Sans';
	font-weight: bold;
	letter-spacing: .05em;
	width: 100%;
	border-radius: 0;
	border: 0px solid #3d3d3d;
	box-shadow: 0px 5px 5px #bbb; 
	-moz-box-shadow: 0px 5px 5px #bbb; 
	-webkit-box-shadow: 0px 5px 5px #bbb; 
	-o-box-shadow: 0px 5px 5px #bbb;
}



/* responsive text queries */
@media screen and (max-width: 992px) {
.navbar {
    font-size: 90%;
  }
}

@media screen and (max-width: 991px) {
.navbar {
    font-size: 11px;
  }
 
}

.navbar-default {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

.navbar-default .navbar-link {
    color: #ececec;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a {
    color: #ececec;
	border-bottom: 10px solid #3d3d3d;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
		
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}
	
.navbar-default .navbar-nav>li>a:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
	background-color: #2a2a2a;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-default .navbar-link:hover {
    color: #ececec;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #ececec;
    background-color: #2a2a2a;
	border-bottom: 10px solid #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ececec;
	border: 1px solid #000;
    background-color: #3d3d3d;
}

.navbar-default .navbar-toggle {
    background-color: #2a2a2a;
    border: 0;
	position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
	color: #660000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2a2a2a;
	border: 0;
	color: #660000;
}

.navbar-collapse {
    max-height: 500px; /* fixes the vertical scrollbar issue upon collapse */
	overflow-x: hidden;
	text-align: center;
}

.navbar-toggle .icon-bar {
    color: #428bca;
}

.navbar-toggle .icon-bar+.icon-bar {
    color: #428bca;
}

.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
    color: #428bca;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.region-site-name {
	margin:0px 50px 0px 30px;
}

.navbar-brand{
	font-size: 1.20em;
	color: #fff;
	background-color: #1c1c1c;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.navbar-brand:hover{
	color: #fff;
	background-color: #1c1c1c;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}



 /**
 * Menus
 */

.nav>li>a:hover {
    background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul.menu.nav{
	line-height: 1em;
}




 /**
 * Library Footer
 */

.libfooter{
    background-color: #2a2a2a;
    color: #999;
    line-height: .8em;
    font-size: 1em;
	font-family: Verdana;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 80px;
	padding-bottom: 65px;
}

.libfooter hr { 
	background-color: #999; 
	height: 1px; 
	border: 0; 
}

.libfooter h2 { /* Acts as h2 block-title tag*/
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.libfooter a{
    color: #ececec !important;
	border-left: 5px solid #2a2a2a;
    text-decoration: none;
}

.libfooter a:hover{
    border-left: 5px solid #bdbdbd;
	color: #6c6c6c;
}

.libfooter h1, h2, h3, h4, h5{
	background-color: transparent;	
}

#libfooter .menu{
	line-height: .6em;
}

.libfooter_detail{
	margin-bottom: -25px;
}



/**
 * Pane Styles
 */

.pane {
	float:left;
	display:inline;
}

h2.pane-title{
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	color: #fff;
	background-color: #ababab;
	border-radius: 5px 5px 5px;
	padding: 5px;
	line-height: 1.2em;
	font-size: 1.5em;
}

h2.pane-title .glyphicon {
	color: #fff;
}

h4.panel-title {
	color: #649ed5;
}

.header img {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}



 /**
 * Headings
 */

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	color: #5b5b5b;
	background-color: #efefef;
	border-radius: 5px;
	padding: 5px;
}

h4 {
	font-weight: bold;
}




/**
 * Region-Libfooter
 */
 
.region-libfooter-second h2{
	display: none;
}

.region-libfooter-second{
    margin-top: 34px;
}

.region-libfooter-third h2{
	display: none;
}

.region-libfooter-third{
    margin-top: 34px;
}



/**
 * Region-Top
 */

#top_regions{
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	width: 100%;
	margin:0px;
}

#top_regions .col-md-5, #top_regions .col-md-7 {
	padding:0px;
}

#top_regions .container-fluid {
	padding:0px;
}

#top_regions .row {
	margin:0px;
	padding:0px;
}




/**
 * Region-Discover-Login
 */
 
#cas-login-form button {
	color: white;
	background-color: #337ab7;
	border-color: #2e6da4;
	margin-left: 11%;
}

#cas-login-form button:hover {
	background-color: #286090;
}

.cas-login-area {
	background-color: white;
	border-radius: 0 0 6px 6px;
}

.region-login {
	background-color: white;
}

.login-area {
	margin: 15px 20px 0 15px;
	border-radius: 6px;
	background-color: white;
	padding: 10px;
}

.region-login-left h2 {
	 font-size: 1.5em;
	letter-spacing: .15em;
	font-family: 'Droid Sans';
	font-weight: bold;
	color: #841617;
	text-align: center;
}




/**
 * Region-Banner
 */

div.field-content.banner.img-responsive{
	height: auto;
    max-width: 100%;
}

div.login input.form-control { /*login styling */
	height:28px;
}

.red {
	padding:5px 0px 0px 0px;
	background: rgba(76,6,6,1);
	background: -moz-linear-gradient(top, rgba(76,6,6,1) 0%, rgba(108,23,23,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,6,6,1)), color-stop(100%, rgba(108,23,23,1)));
	background: -webkit-linear-gradient(top, rgba(76,6,6,1) 0%, rgba(108,23,23,1) 100%);
	background: -o-linear-gradient(top, rgba(76,6,6,1) 0%, rgba(108,23,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(76,6,6,1) 0%, rgba(108,23,23,1) 100%);
	background: linear-gradient(to bottom, rgba(76,6,6,1) 0%, rgba(108,23,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c0606', endColorstr='#6c1717', GradientType=0 );
}

#block-user-login .btn {
	height:30px;
	padding:3px;
	font-size:10px;
	font-weight:bold;
}




/**
 * Webforms
 */
 
.webform-client-form .form-item{
	padding-bottom: 15px;
}
 
.webform-client-form input.form-control{
	padding-bottom: 15px;
}
 
/**Code most applicable to Room Reservation and Event forms*/

.webform-client-form  select.form-control{
	width: 25%;
	display: inline-block;
}

.webform-client-form  .form-managed-file{
	width: 75%;
}
 
form.webform-client-form .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: none;
}



/**
* Signage System
*/

.date-display-single{
	float: left;
}

.date-display-range{
	float: right;
	padding-left: 5px;
}

.text{
	white-space: pre-line;
}

h2{
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.container-relative {
	position:relative;
	width: 80%;
}

.container-relative .title{
	font-family: 'PT Sans'; 
	font-weight: 700;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 15%;
	left: 65%;
}

.container-relative .text{
	color: #fff;
	font-size: 19px;
	position: absolute;
	top: 34%;
	left: 65%;
}

.container-relative .event_date{
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 25%;
	left: 65%;
}

.container-relative .location{
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 29%;
	left: 65%;
}

.container-relative .url{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: 66%;
	left: 65%;
}

.container-relative .email{
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: 69%;
	left: 65%;
}

.container-relative .image{
	position: absolute;
	top: 15%;
	left: 5%;
}

.container-relative .logo {
	position: absolute;
	top: 79%;
	left: 70%;
}





@media screen and (max-width: 1750px) {
.container-relative {
	position:relative;
	width: 100%;
	/**border: 5px orange solid;*/
  }
}

@media (max-width: 1750px) {
.container-relative .title {
	font-size: 170%;
  }
}

@media (max-width: 1750px) {
.container-relative .text {
	font-size: 145%;
  }
}

@media (max-width: 1750px) {
.container-relative .event_date {
	font-size: 135%;
  }
}

@media (max-width: 1750px) {
.container-relative .location {
	font-size: 135%;
  }
}

@media (max-width: 1750px) {
.container-relative .url {
	font-size: 125%;
  }
}
 
@media (max-width: 1750px) {
.container-relative .email {
	font-size: 125%;
  }
}

@media (max-width: 1750px) {
.image img {
	width: 97%;
	height: auto;
  }
}

@media (max-width: 1750px) {
.logo img {
	width: 95%;
	height: auto;
  }
}







@media screen and (max-width: 1400px) {
.container-relative {
	position:relative;
	width: 100%;
	/**border: 5px pink solid;*/
  }
}

@media (max-width: 1400px) {
.container-relative .title {
	font-size: 150%;
  }
}

@media (max-width: 1400px) {
.container-relative .text {
	font-size: 90%;
  }
}

@media (max-width: 1400px) {
.container-relative .event_date {
	font-size: 120%;
  }
}

@media (max-width: 1400px) {
.container-relative .location {
	font-size: 120%;
  }
}

@media (max-width: 1400px) {
.container-relative .url {
	font-size: 110%;
  }
}
 
@media (max-width: 1400px) {
.container-relative .email {
	font-size: 100%;
  }
}

@media (max-width: 1400px) {
.logo img {
	width: 85%;
	height: auto;
  }
}

@media (max-width: 1400px) {
.image img {
	width: 80%;
	height: auto;
  }
}





@media (max-width: 1200px) {
.container-relative {
	position:relative;
	/**border: 5px black solid;*/
	width: 100%;
  }
}

@media (max-width: 1200px) {
.container-relative .title {
	font-size: 125%;
  }
}

@media (max-width: 1200px) {
.container-relative .text {
	font-size: 85%;
	position: absolute;
	top: 35%;
  }
}

@media (max-width: 1200px) {
.container-relative .event_date {
	font-size: 90%;
	position: absolute;
	top: 24%;
  }
}

@media (max-width: 1200px) {
.container-relative .location {
	font-size: 90%;
	position: absolute;
	top: 28%;
  }
}

@media (max-width: 1200px) {
.container-relative .url {
	font-size: 90%;
	position: absolute;
	top: 67%;
  }
}
 
@media (max-width: 1200px) {
.container-relative .email {
	font-size: 90%;
	position: absolute;
	top: 64%;
  }
}

@media (max-width: 1200px) {
.logo img {
	width: 60%;
	height: auto;
  }
}

@media (max-width: 1200px) {
.image img {
	width: 60%;
	height: auto;
  }
}





@media (max-width: 950px) {
.container-relative {
	position:relative;
	/**border: 5px blue solid;*/
	width: 100%;
  }
}

@media (max-width: 950px) {
.container-relative .title {
	font-size: 85%;
  }
}

@media (max-width: 950px) {
.container-relative .text {
	font-size: 80%;
	position: absolute;
	top: 29%;
  }
}

@media (max-width: 950px) {
.container-relative .event_date {
	font-size: 85%;
	position: absolute;
	top: 21%;
  }
}

@media (max-width: 950px) {
.container-relative .location {
	font-size: 75%;
	position: absolute;
	top: 24%;
  }
}

@media (max-width: 950px) {
.container-relative .url {
	font-size: 80%;
	position: absolute;
	top: 65%;
  }
}
 
@media (max-width: 950px) {
.container-relative .email {
	font-size: 85%;
	position: absolute;
	top: 69%;
  }
}

@media (max-width: 950px) {
.image img {
	width: 55%;
	height: auto;
  }
}

@media (max-width: 950px) {
.logo img {
	width: 50%;
	height: auto;
  }
}




@media (max-width: 800px) {
.container-relative {
	position:relative;
	/**border: 5px green solid;*/
	width: 100%;
  }
}

@media (max-width: 800px) {
.container-relative .title {
	font-size: 85%;
  }
}

@media (max-width: 800px) {
.container-relative .text {
	font-size: 65%;
	position: absolute;
	top: 35%;
  }
}

@media (max-width: 800px) {
.container-relative .event_date {
	font-size: 80%;
	position: absolute;
	top: 25%;
  }
}

@media (max-width: 800px) {
.container-relative .location {
	font-size: 70%;
	position: absolute;
	top: 29%;
  }
}

@media (max-width: 800px) {
.container-relative .url {
	font-size: 70%;
  }
}
 
@media (max-width: 800px) {
.container-relative .email {
	font-size: 70%;
  }
}

@media (max-width: 800px) {
.logo img {
	width: 40%;
	height: auto;
  }
}

@media (max-width: 800px) {
.image img {
	width: 54%;
	height: auto;
  }
}





@media screen and (max-width: 768px) {
.container-relative {
	position:relative;
	/**border: 5px red solid;*/
	width: 100%;
  }
}

@media (max-width: 768px) {
.container-relative .text {
	font-size: 55%;
	position: absolute;
	top: 35%;
  }
}

@media (max-width: 768px) {
.container-relative .title {
	font-size: 75%;
  }
}

@media (max-width: 768px) {
.container-relative .event_date {
	position: absolute;
	top: 26%;
	left: 65%;
  }
}

@media (max-width: 768px) {
.container-relative .location {
	position: absolute;
	top: 30%;
	left: 65%;
  }
}

@media (max-width: 768px) {
.container-relative .email {
	position: absolute;
	top: 72%;
	left: 65%;
  }
}
  
@media (max-width: 768px) {
.container-relative .url {
	position: absolute;
	top: 75%;
	left: 65%;
  }
}

@media (max-width: 768px) {
.logo img {
	width: 20%;
	height: auto;
  }
}




@media screen and (max-width: 550px) {
.container-relative {
	position:relative;
	/**border: 5px grey solid;*/
	width: 100%;
  }
}

@media (max-width: 550px) {
.container-relative .title {
	font-size: 37%;
  }
}

@media (max-width: 550px) {
.container-relative .text {
	font-size: 30%;
  }
}

@media (max-width: 550px) {
.container-relative .event_date {
	position: absolute;
	top: 25%;
	left: 65%;
	font-size: 30%;
  }
}

@media (max-width: 550px) {
.container-relative .location {
	position: absolute;
	top: 30%;
	left: 65%;
	font-size: 30%;
  }
}

@media (max-width: 550px) {
.container-relative .email {
	position: absolute;
	top: 66%;
	left: 65%;
	font-size: 30%;
  }
}
  
@media (max-width: 550px) {
.container-relative .url {
	position: absolute;
	top: 69%;
	left: 65%;
	font-size: 30%;
  }
}

@media (max-width: 550px) {
.logo img {
	width: 20%;
	height: auto;
  }
}